@import '~antd/dist/antd.css';
/* 
// @import '~antd/es/style/themes/default.less';
// @import '~antd/dist/antd.less';
// @import './your-theme-file.less';
// @import 'antd/dist/antd.less'; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
